# ======= SSO Local ========
JWT_ISSUER=https://imssb-bc.local
JWT_AUDIENCE=imssb-bc
ACCESS_TTL_SECONDS=900
REFRESH_TTL_DAYS=14
JWKS_PUBLIC_PATH=keys/current_public.jwk.json
JWKS_PRIVATE_PATH=keys/current_private.jwk.json
ACTIVE_KID_FILE=keys/ACTIVE_KID
JWT_ISSUER_ALLOWLIST=https://imssb-bc.local,https://xxxxx-xxxxxxx-xxxxxxx-xxxxxxxx.koyeb.app
SOLICITUDES_HASH_SALT=some-random-salt-for-hashing

# Crear las siguientes variables de entorno
PORT=3000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=puthereyourpassword
AZURE_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_INV_URL="https://prod-yy.westus.logic.azure.com:yy/workflows/yyyyyyyyyyyyyyyyyyyyyyyyy/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_CPM_URL="https://prod-zz.westus.logic.azure.com:yy/workflows/yyyyyyyyyyyyyyyyyyyyyyyyy/triggers/manual/paths/invoke?api-version=etcetcetc"

# endpoints temporales de obtencion de existencias de 2do nivel
AZURE_HGENS_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_HGMXL_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_HGTKT_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_HGTIJ_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_HMITIJ_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_HGPR_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_HMIMXL_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_UOMXL_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"
AZURE_HGTZE_URL="https://prod-xx.westus.logic.azure.com:xx/workflows/xxxxxxxxxxxxxxxxxxxxxxxxxxxxx/triggers/manual/paths/invoke?api-version=etcetcetc"

# payload para peticiones azure
AZURE_PAYLOAD_SECRET=my-secret-key
# URL de endpoint que guardará en sitio Sharepoint de IMSSBienestar Baja California en folder Documentos> Abasto> 02-solicitudes
# En power automate se llama "solicitudes-abasto-recepcion"
AZURE_SP_ABASTO_URL="https://prod-ww.westus.logic.azure.com:yy/workflows/yyyyyyyyyyyyyyyyyyyyyyyyy/triggers/manual/paths/invoke?api-version=etcetcetc"
# En power automate se llama "solicitudes-encuesta-piloto"
AZURE_SP_ENCUESTA_URL="https://prod-ww.westus.logic.azure.com:yy/workflows/yyyyyyyyyyyyyyyyyyyyyyyyy/triggers/manual/paths/invoke?api-version=etcetcetc"


########################### Supabase #############################
SUPABASE_URL=https://<tu-proyecto>.supabase.co
# este es sb_publishable_key en la nueva versión (anon_key será deprecado)
SUPABASE_ANON_KEY=ey...  # clave pública
# este es sb_secret_key en la nueva versión (service_role será deprecado)
SUPABASE_SERVICE_ROLE_KEY=ey...  # ¡solo en servidor!
SUPABASE_JWT_SIGNING_KEY=ey...  # clave privada
##################################################################
